/* Estilos CSS */
.blur {
    position: relative;
  }
  
  .blur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* Ajusta la cantidad de desenfoque según tus preferencias */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
  }
  